[submodule "projects/05-foundry-calculadora/lib/forge-std"]
	path = projects/05-foundry-calculadora/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/06-staking-app/lib/forge-std"]
	path = projects/06-staking-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/06-staking-app/lib/openzeppelin-contracts"]
	path = projects/06-staking-app/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/07-nft-collection/lib/forge-std"]
	path = projects/07-nft-collection/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/07-nft-collection/lib/openzeppelin-contracts"]
	path = projects/07-nft-collection/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/08-nft-marketplace/lib/forge-std"]
	path = projects/08-nft-marketplace/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/08-nft-marketplace/lib/openzeppelin-contracts"]
	path = projects/08-nft-marketplace/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/09-swapping-app/lib/forge-std"]
	path = projects/09-swapping-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/09-swapping-app/lib/openzeppelin-contracts"]
	path = projects/09-swapping-app/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/10-liquidity-pools/lib/forge-std"]
	path = projects/10-liquidity-pools/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/10-liquidity-pools/lib/openzeppelin-contracts"]
	path = projects/10-liquidity-pools/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/11-presale/lib/forge-std"]
	path = projects/11-presale/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/11-presale/lib/openzeppelin-contracts"]
	path = projects/11-presale/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/12-reentrancy-attack/lib/forge-std"]
	path = projects/12-reentrancy-attack/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/13-abi-encoding/lib/forge-std"]
	path = projects/13-abi-encoding/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/14-yield-farming/lib/forge-std"]
	path = projects/14-yield-farming/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/14-yield-farming/lib/openzeppelin-contracts"]
	path = projects/14-yield-farming/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/15-dao/lib/forge-std"]
	path = projects/15-dao/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/15-dao/lib/openzeppelin-contracts"]
	path = projects/15-dao/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/16-lending-borrowing/lib/forge-std"]
	path = projects/16-lending-borrowing/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/16-lending-borrowing/lib/openzeppelin-contracts"]
	path = projects/16-lending-borrowing/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "resources/upgradeability/lib/forge-std"]
	path = resources/upgradeability/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "resources/upgradeability/lib/openzeppelin-contracts"]
	path = resources/upgradeability/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "resources/upgradeability/lib/openzeppelin-contracts-upgradeable"]
	path = resources/upgradeability/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
